@font-face {
  font-family: 'yr-icons';
  src: url('./font/yr-icons.eot?92634330');
  src: url('./font/yr-icons.eot?92634330#iefix') format('embedded-opentype'),
       url('./font/yr-icons.woff2?92634330') format('woff2'),
       url('./font/yr-icons.woff?92634330') format('woff'),
       url('./font/yr-icons.ttf?92634330') format('truetype'),
       url('./font/yr-icons.svg?92634330#yr-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'yr-icons';
    src: url('../font/yr-icons.svg?92634330#yr-icons') format('svg');
  }
}
*/
 
 [class^="yr-icon-"]:before, [class*=" yr-icon-"]:before, [class^="yr-wind-"]:before, [class*=" yr-wind-"]:before  {
  font-family: "yr-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* Yr weather symbols */
.yr-icon-01d:before, .yr-icon-clearsky_day:before { content: '\e800'; }
.yr-icon-01n:before, .yr-icon-clearsky_night:before { content: '\e801'; } /* '' */
.yr-icon-01m:before, .yr-icon-clearsky_polartwilight:before { content: '\e802'; } /* '' */
.yr-icon-04:before, .yr-icon-cloudy:before { content: '\e803'; } /* '' */
.yr-icon-02d:before, .yr-icon-fair_day:before { content: '\e804'; } /* '' */
.yr-icon-02n:before, .yr-icon-fair_night:before { content: '\e805'; } /* '' */
.yr-icon-02m:before, .yr-icon-fair_polartwilight:before { content: '\e806'; } /* '' */
.yr-icon-15:before, .yr-icon-fog:before { content: '\e807'; } /* '' */
.yr-icon-10:before, .yr-icon-heavyrain:before { content: '\e808'; } /* '' */
.yr-icon-11:before, .yr-icon-heavyrainandthunder:before { content: '\e809'; } /* '' */
.yr-icon-41d:before, .yr-icon-heavyrainshowers_day:before { content: '\e80a'; } /* '' */
.yr-icon-41n:before, .yr-icon-heavyrainshowers_night:before { content: '\e80b'; } /* '' */
.yr-icon-41m:before, .yr-icon-heavyrainshowers_polartwilight:before { content: '\e80c'; } /* '' */
.yr-icon-25d:before, .yr-icon-heavyrainshowersandthunder_day:before { content: '\e80d'; } /* '' */
.yr-icon-25n:before, .yr-icon-heavyrainshowersandthunder_night:before { content: '\e80e'; } /* '' */
.yr-icon-25m:before, .yr-icon-heavyrainshowersandthunder_polartwilight:before { content: '\e80f'; } /* '' */
.yr-icon-48:before, .yr-icon-heavysleet:before { content: '\e810'; } /* '' */
.yr-icon-32:before, .yr-icon-heavysleetandthunder:before { content: '\e811'; } /* '' */
.yr-icon-43d:before, .yr-icon-heavysleetshowers_day:before { content: '\e812'; } /* '' */
.yr-icon-43n:before, .yr-icon-heavysleetshowers_night:before { content: '\e813'; } /* '' */
.yr-icon-43m:before, .yr-icon-heavysleetshowers_polartwilight:before { content: '\e814'; } /* '' */
.yr-icon-27d:before, .yr-icon-heavysleetshowersandthunder_day:before { content: '\e815'; } /* '' */
.yr-icon-27n:before, .yr-icon-heavysleetshowersandthunder_night:before { content: '\e816'; } /* '' */
.yr-icon-27m:before, .yr-icon-heavysleetshowersandthunder_polartwilight:before { content: '\e817'; } /* '' */
.yr-icon-50:before, .yr-icon-heavysnow:before { content: '\e818'; } /* '' */
.yr-icon-34:before, .yr-icon-heavysnowandthunder:before { content: '\e819'; } /* '' */
.yr-icon-45d:before, .yr-icon-heavysnowshowers_day:before { content: '\e81a'; } /* '' */
.yr-icon-45n:before, .yr-icon-heavysnowshowers_night:before { content: '\e81b'; } /* '' */
.yr-icon-45m:before, .yr-icon-heavysnowshowers_polartwilight:before { content: '\e81c'; } /* '' */
.yr-icon-29d:before, .yr-icon-heavysnowshowersandthunder_day:before { content: '\e81d'; } /* '' */
.yr-icon-29n:before, .yr-icon-heavysnowshowersandthunder_night:before { content: '\e81e'; } /* '' */
.yr-icon-29m:before, .yr-icon-heavysnowshowersandthunder_polartwilight:before { content: '\e81f'; } /* '' */
.yr-icon-46:before, .yr-icon-lightrain:before { content: '\e820'; } /* '' */
.yr-icon-30:before, .yr-icon-lightrainandthunder:before { content: '\e821'; } /* '' */
.yr-icon-40d:before, .yr-icon-lightrainshowers_day:before { content: '\e822'; } /* '' */
.yr-icon-40n:before, .yr-icon-lightrainshowers_night:before { content: '\e823'; } /* '' */
.yr-icon-40m:before, .yr-icon-lightrainshowers_polartwilight:before { content: '\e824'; } /* '' */
.yr-icon-24d:before, .yr-icon-lightrainshowersandthunder_day:before { content: '\e825'; } /* '' */
.yr-icon-24n:before, .yr-icon-lightrainshowersandthunder_night:before { content: '\e826'; } /* '' */
.yr-icon-24m:before, .yr-icon-lightrainshowersandthunder_polartwilight:before { content: '\e827'; } /* '' */
.yr-icon-47:before, .yr-icon-lightsleet:before { content: '\e828'; } /* '' */
.yr-icon-31:before, .yr-icon-lightsleetandthunder:before { content: '\e829'; } /* '' */
.yr-icon-42d:before, .yr-icon-lightsleetshowers_day:before { content: '\e82a'; } /* '' */
.yr-icon-42n:before, .yr-icon-lightsleetshowers_night:before { content: '\e82b'; } /* '' */
.yr-icon-42m:before, .yr-icon-lightsleetshowers_polartwilight:before { content: '\e82c'; } /* '' */
.yr-icon-49:before, .yr-icon-lightsnow:before { content: '\e82d'; } /* '' */
.yr-icon-33:before, .yr-icon-lightsnowandthunder:before { content: '\e82e'; } /* '' */
.yr-icon-44d:before, .yr-icon-lightsnowshowers_day:before { content: '\e82f'; } /* '' */
.yr-icon-44n:before, .yr-icon-lightsnowshowers_night:before { content: '\e830'; } /* '' */
.yr-icon-44m:before, .yr-icon-lightsnowshowers_polartwilight:before { content: '\e831'; } /* '' */
.yr-icon-26d:before, .yr-icon-lightssleetshowersandthunder_day:before { content: '\e832'; } /* '' */
.yr-icon-26n:before, .yr-icon-lightssleetshowersandthunder_night:before { content: '\e833'; } /* '' */
.yr-icon-26m:before, .yr-icon-lightssleetshowersandthunder_polartwilight:before { content: '\e834'; } /* '' */
.yr-icon-28d:before, .yr-icon-lightssnowshowersandthunder_day:before { content: '\e835'; } /* '' */
.yr-icon-28n:before, .yr-icon-lightssnowshowersandthunder_night:before { content: '\e836'; } /* '' */
.yr-icon-28m:before, .yr-icon-lightssnowshowersandthunder_polartwilight:before { content: '\e837'; } /* '' */
.yr-icon-03d:before, .yr-icon-partlycloudy_day:before { content: '\e838'; } /* '' */
.yr-icon-03n:before, .yr-icon-partlycloudy_night:before { content: '\e839'; } /* '' */
.yr-icon-03m:before, .yr-icon-partlycloudy_polartwilight:before { content: '\e83a'; } /* '' */
.yr-icon-09:before, .yr-icon-rain:before { content: '\e83b'; } /* '' */
.yr-icon-22:before, .yr-icon-rainandthunder:before { content: '\e83c'; } /* '' */
.yr-icon-05d:before, .yr-icon-rainshowers_day:before { content: '\e83d'; } /* '' */
.yr-icon-05n:before, .yr-icon-rainshowers_night:before { content: '\e83e'; } /* '' */
.yr-icon-05m:before, .yr-icon-rainshowers_polartwilight:before { content: '\e83f'; } /* '' */
.yr-icon-06d:before, .yr-icon-rainshowersandthunder_day:before { content: '\e840'; } /* '' */
.yr-icon-06n:before, .yr-icon-rainshowersandthunder_night:before { content: '\e841'; } /* '' */
.yr-icon-06m:before, .yr-icon-rainshowersandthunder_polartwilight:before { content: '\e842'; } /* '' */
.yr-icon-12:before, .yr-icon-sleet:before { content: '\e843'; } /* '' */
.yr-icon-23:before, .yr-icon-sleetandthunder:before { content: '\e844'; } /* '' */
.yr-icon-07d:before, .yr-icon-sleetshowers_day:before { content: '\e845'; } /* '' */
.yr-icon-07n:before, .yr-icon-sleetshowers_night:before { content: '\e846'; } /* '' */
.yr-icon-07m:before, .yr-icon-sleetshowers_polartwilight:before { content: '\e847'; } /* '' */
.yr-icon-20d:before, .yr-icon-sleetshowersandthunder_day:before { content: '\e848'; } /* '' */
.yr-icon-20n:before, .yr-icon-sleetshowersandthunder_night:before { content: '\e849'; } /* '' */
.yr-icon-20m:before, .yr-icon-sleetshowersandthunder_polartwilight:before { content: '\e84a'; } /* '' */
.yr-icon-13:before, .yr-icon-snow:before { content: '\e84b'; } /* '' */
.yr-icon-14:before, .yr-icon-snowandthunder:before { content: '\e84c'; } /* '' */
.yr-icon-08d:before, .yr-icon-snowshowers_day:before { content: '\e84d'; } /* '' */
.yr-icon-08n:before, .yr-icon-snowshowers_night:before { content: '\e84e'; } /* '' */
.yr-icon-08m:before, .yr-icon-snowshowers_polartwilight:before { content: '\e84f'; } /* '' */
.yr-icon-21d:before, .yr-icon-snowshowersandthunder_day:before { content: '\e850'; } /* '' */
.yr-icon-21n:before, .yr-icon-snowshowersandthunder_night:before { content: '\e851'; } /* '' */
.yr-icon-21m:before, .yr-icon-snowshowersandthunder_polartwilight:before { content: '\e852'; } /* '' */

/* Yr wind symbols */
.yr-wind-beauf-0:before { content: '\e853'; } /* '' */
.yr-wind-beauf-1:before { content: '\e854'; } /* '' */
.yr-wind-beauf-2:before { content: '\e855'; } /* '' */
.yr-wind-beauf-3:before { content: '\e856'; } /* '' */
.yr-wind-beauf-4:before { content: '\e857'; } /* '' */
.yr-wind-beauf-5:before { content: '\e858'; } /* '' */
.yr-wind-beauf-6:before { content: '\e859'; } /* '' */
.yr-wind-beauf-7:before { content: '\e85a'; } /* '' */
.yr-wind-beauf-8:before { content: '\e85b'; } /* '' */
.yr-wind-beauf-9:before { content: '\e85c'; } /* '' */
.yr-wind-beauf-10:before { content: '\e85d'; } /* '' */
.yr-wind-beauf-11:before { content: '\e85e'; } /* '' */
.yr-wind-beauf-12:before { content: '\e85f'; } /* '' */

/* Wind direction */
.yr-wind-from-direction-0:before { transform: rotate(0deg); }
.yr-wind-from-direction-1:before { transform: rotate(1deg); }
.yr-wind-from-direction-2:before { transform: rotate(2deg); }
.yr-wind-from-direction-3:before { transform: rotate(3deg); }
.yr-wind-from-direction-4:before { transform: rotate(4deg); }
.yr-wind-from-direction-5:before { transform: rotate(5deg); }
.yr-wind-from-direction-6:before { transform: rotate(6deg); }
.yr-wind-from-direction-7:before { transform: rotate(7deg); }
.yr-wind-from-direction-8:before { transform: rotate(8deg); }
.yr-wind-from-direction-9:before { transform: rotate(9deg); }
.yr-wind-from-direction-10:before { transform: rotate(10deg); }
.yr-wind-from-direction-11:before { transform: rotate(11deg); }
.yr-wind-from-direction-12:before { transform: rotate(12deg); }
.yr-wind-from-direction-13:before { transform: rotate(13deg); }
.yr-wind-from-direction-14:before { transform: rotate(14deg); }
.yr-wind-from-direction-15:before { transform: rotate(15deg); }
.yr-wind-from-direction-16:before { transform: rotate(16deg); }
.yr-wind-from-direction-17:before { transform: rotate(17deg); }
.yr-wind-from-direction-18:before { transform: rotate(18deg); }
.yr-wind-from-direction-19:before { transform: rotate(19deg); }
.yr-wind-from-direction-20:before { transform: rotate(20deg); }
.yr-wind-from-direction-21:before { transform: rotate(21deg); }
.yr-wind-from-direction-22:before { transform: rotate(22deg); }
.yr-wind-from-direction-23:before { transform: rotate(23deg); }
.yr-wind-from-direction-24:before { transform: rotate(24deg); }
.yr-wind-from-direction-25:before { transform: rotate(25deg); }
.yr-wind-from-direction-26:before { transform: rotate(26deg); }
.yr-wind-from-direction-27:before { transform: rotate(27deg); }
.yr-wind-from-direction-28:before { transform: rotate(28deg); }
.yr-wind-from-direction-29:before { transform: rotate(29deg); }
.yr-wind-from-direction-30:before { transform: rotate(30deg); }
.yr-wind-from-direction-31:before { transform: rotate(31deg); }
.yr-wind-from-direction-32:before { transform: rotate(32deg); }
.yr-wind-from-direction-33:before { transform: rotate(33deg); }
.yr-wind-from-direction-34:before { transform: rotate(34deg); }
.yr-wind-from-direction-35:before { transform: rotate(35deg); }
.yr-wind-from-direction-36:before { transform: rotate(36deg); }
.yr-wind-from-direction-37:before { transform: rotate(37deg); }
.yr-wind-from-direction-38:before { transform: rotate(38deg); }
.yr-wind-from-direction-39:before { transform: rotate(39deg); }
.yr-wind-from-direction-40:before { transform: rotate(40deg); }
.yr-wind-from-direction-41:before { transform: rotate(41deg); }
.yr-wind-from-direction-42:before { transform: rotate(42deg); }
.yr-wind-from-direction-43:before { transform: rotate(43deg); }
.yr-wind-from-direction-44:before { transform: rotate(44deg); }
.yr-wind-from-direction-45:before { transform: rotate(45deg); }
.yr-wind-from-direction-46:before { transform: rotate(46deg); }
.yr-wind-from-direction-47:before { transform: rotate(47deg); }
.yr-wind-from-direction-48:before { transform: rotate(48deg); }
.yr-wind-from-direction-49:before { transform: rotate(49deg); }
.yr-wind-from-direction-50:before { transform: rotate(50deg); }
.yr-wind-from-direction-51:before { transform: rotate(51deg); }
.yr-wind-from-direction-52:before { transform: rotate(52deg); }
.yr-wind-from-direction-53:before { transform: rotate(53deg); }
.yr-wind-from-direction-54:before { transform: rotate(54deg); }
.yr-wind-from-direction-55:before { transform: rotate(55deg); }
.yr-wind-from-direction-56:before { transform: rotate(56deg); }
.yr-wind-from-direction-57:before { transform: rotate(57deg); }
.yr-wind-from-direction-58:before { transform: rotate(58deg); }
.yr-wind-from-direction-59:before { transform: rotate(59deg); }
.yr-wind-from-direction-60:before { transform: rotate(60deg); }
.yr-wind-from-direction-61:before { transform: rotate(61deg); }
.yr-wind-from-direction-62:before { transform: rotate(62deg); }
.yr-wind-from-direction-63:before { transform: rotate(63deg); }
.yr-wind-from-direction-64:before { transform: rotate(64deg); }
.yr-wind-from-direction-65:before { transform: rotate(65deg); }
.yr-wind-from-direction-66:before { transform: rotate(66deg); }
.yr-wind-from-direction-67:before { transform: rotate(67deg); }
.yr-wind-from-direction-68:before { transform: rotate(68deg); }
.yr-wind-from-direction-69:before { transform: rotate(69deg); }
.yr-wind-from-direction-70:before { transform: rotate(70deg); }
.yr-wind-from-direction-71:before { transform: rotate(71deg); }
.yr-wind-from-direction-72:before { transform: rotate(72deg); }
.yr-wind-from-direction-73:before { transform: rotate(73deg); }
.yr-wind-from-direction-74:before { transform: rotate(74deg); }
.yr-wind-from-direction-75:before { transform: rotate(75deg); }
.yr-wind-from-direction-76:before { transform: rotate(76deg); }
.yr-wind-from-direction-77:before { transform: rotate(77deg); }
.yr-wind-from-direction-78:before { transform: rotate(78deg); }
.yr-wind-from-direction-79:before { transform: rotate(79deg); }
.yr-wind-from-direction-80:before { transform: rotate(80deg); }
.yr-wind-from-direction-81:before { transform: rotate(81deg); }
.yr-wind-from-direction-82:before { transform: rotate(82deg); }
.yr-wind-from-direction-83:before { transform: rotate(83deg); }
.yr-wind-from-direction-84:before { transform: rotate(84deg); }
.yr-wind-from-direction-85:before { transform: rotate(85deg); }
.yr-wind-from-direction-86:before { transform: rotate(86deg); }
.yr-wind-from-direction-87:before { transform: rotate(87deg); }
.yr-wind-from-direction-88:before { transform: rotate(88deg); }
.yr-wind-from-direction-89:before { transform: rotate(89deg); }
.yr-wind-from-direction-90:before { transform: rotate(90deg); }
.yr-wind-from-direction-91:before { transform: rotate(91deg); }
.yr-wind-from-direction-92:before { transform: rotate(92deg); }
.yr-wind-from-direction-93:before { transform: rotate(93deg); }
.yr-wind-from-direction-94:before { transform: rotate(94deg); }
.yr-wind-from-direction-95:before { transform: rotate(95deg); }
.yr-wind-from-direction-96:before { transform: rotate(96deg); }
.yr-wind-from-direction-97:before { transform: rotate(97deg); }
.yr-wind-from-direction-98:before { transform: rotate(98deg); }
.yr-wind-from-direction-99:before { transform: rotate(99deg); }
.yr-wind-from-direction-100:before { transform: rotate(100deg); }
.yr-wind-from-direction-101:before { transform: rotate(101deg); }
.yr-wind-from-direction-102:before { transform: rotate(102deg); }
.yr-wind-from-direction-103:before { transform: rotate(103deg); }
.yr-wind-from-direction-104:before { transform: rotate(104deg); }
.yr-wind-from-direction-105:before { transform: rotate(105deg); }
.yr-wind-from-direction-106:before { transform: rotate(106deg); }
.yr-wind-from-direction-107:before { transform: rotate(107deg); }
.yr-wind-from-direction-108:before { transform: rotate(108deg); }
.yr-wind-from-direction-109:before { transform: rotate(109deg); }
.yr-wind-from-direction-110:before { transform: rotate(110deg); }
.yr-wind-from-direction-111:before { transform: rotate(111deg); }
.yr-wind-from-direction-112:before { transform: rotate(112deg); }
.yr-wind-from-direction-113:before { transform: rotate(113deg); }
.yr-wind-from-direction-114:before { transform: rotate(114deg); }
.yr-wind-from-direction-115:before { transform: rotate(115deg); }
.yr-wind-from-direction-116:before { transform: rotate(116deg); }
.yr-wind-from-direction-117:before { transform: rotate(117deg); }
.yr-wind-from-direction-118:before { transform: rotate(118deg); }
.yr-wind-from-direction-119:before { transform: rotate(119deg); }
.yr-wind-from-direction-120:before { transform: rotate(120deg); }
.yr-wind-from-direction-121:before { transform: rotate(121deg); }
.yr-wind-from-direction-122:before { transform: rotate(122deg); }
.yr-wind-from-direction-123:before { transform: rotate(123deg); }
.yr-wind-from-direction-124:before { transform: rotate(124deg); }
.yr-wind-from-direction-125:before { transform: rotate(125deg); }
.yr-wind-from-direction-126:before { transform: rotate(126deg); }
.yr-wind-from-direction-127:before { transform: rotate(127deg); }
.yr-wind-from-direction-128:before { transform: rotate(128deg); }
.yr-wind-from-direction-129:before { transform: rotate(129deg); }
.yr-wind-from-direction-130:before { transform: rotate(130deg); }
.yr-wind-from-direction-131:before { transform: rotate(131deg); }
.yr-wind-from-direction-132:before { transform: rotate(132deg); }
.yr-wind-from-direction-133:before { transform: rotate(133deg); }
.yr-wind-from-direction-134:before { transform: rotate(134deg); }
.yr-wind-from-direction-135:before { transform: rotate(135deg); }
.yr-wind-from-direction-136:before { transform: rotate(136deg); }
.yr-wind-from-direction-137:before { transform: rotate(137deg); }
.yr-wind-from-direction-138:before { transform: rotate(138deg); }
.yr-wind-from-direction-139:before { transform: rotate(139deg); }
.yr-wind-from-direction-140:before { transform: rotate(140deg); }
.yr-wind-from-direction-141:before { transform: rotate(141deg); }
.yr-wind-from-direction-142:before { transform: rotate(142deg); }
.yr-wind-from-direction-143:before { transform: rotate(143deg); }
.yr-wind-from-direction-144:before { transform: rotate(144deg); }
.yr-wind-from-direction-145:before { transform: rotate(145deg); }
.yr-wind-from-direction-146:before { transform: rotate(146deg); }
.yr-wind-from-direction-147:before { transform: rotate(147deg); }
.yr-wind-from-direction-148:before { transform: rotate(148deg); }
.yr-wind-from-direction-149:before { transform: rotate(149deg); }
.yr-wind-from-direction-150:before { transform: rotate(150deg); }
.yr-wind-from-direction-151:before { transform: rotate(151deg); }
.yr-wind-from-direction-152:before { transform: rotate(152deg); }
.yr-wind-from-direction-153:before { transform: rotate(153deg); }
.yr-wind-from-direction-154:before { transform: rotate(154deg); }
.yr-wind-from-direction-155:before { transform: rotate(155deg); }
.yr-wind-from-direction-156:before { transform: rotate(156deg); }
.yr-wind-from-direction-157:before { transform: rotate(157deg); }
.yr-wind-from-direction-158:before { transform: rotate(158deg); }
.yr-wind-from-direction-159:before { transform: rotate(159deg); }
.yr-wind-from-direction-160:before { transform: rotate(160deg); }
.yr-wind-from-direction-161:before { transform: rotate(161deg); }
.yr-wind-from-direction-162:before { transform: rotate(162deg); }
.yr-wind-from-direction-163:before { transform: rotate(163deg); }
.yr-wind-from-direction-164:before { transform: rotate(164deg); }
.yr-wind-from-direction-165:before { transform: rotate(165deg); }
.yr-wind-from-direction-166:before { transform: rotate(166deg); }
.yr-wind-from-direction-167:before { transform: rotate(167deg); }
.yr-wind-from-direction-168:before { transform: rotate(168deg); }
.yr-wind-from-direction-169:before { transform: rotate(169deg); }
.yr-wind-from-direction-170:before { transform: rotate(170deg); }
.yr-wind-from-direction-171:before { transform: rotate(171deg); }
.yr-wind-from-direction-172:before { transform: rotate(172deg); }
.yr-wind-from-direction-173:before { transform: rotate(173deg); }
.yr-wind-from-direction-174:before { transform: rotate(174deg); }
.yr-wind-from-direction-175:before { transform: rotate(175deg); }
.yr-wind-from-direction-176:before { transform: rotate(176deg); }
.yr-wind-from-direction-177:before { transform: rotate(177deg); }
.yr-wind-from-direction-178:before { transform: rotate(178deg); }
.yr-wind-from-direction-179:before { transform: rotate(179deg); }
.yr-wind-from-direction-180:before { transform: rotate(180deg); }
.yr-wind-from-direction-181:before { transform: rotate(181deg); }
.yr-wind-from-direction-182:before { transform: rotate(182deg); }
.yr-wind-from-direction-183:before { transform: rotate(183deg); }
.yr-wind-from-direction-184:before { transform: rotate(184deg); }
.yr-wind-from-direction-185:before { transform: rotate(185deg); }
.yr-wind-from-direction-186:before { transform: rotate(186deg); }
.yr-wind-from-direction-187:before { transform: rotate(187deg); }
.yr-wind-from-direction-188:before { transform: rotate(188deg); }
.yr-wind-from-direction-189:before { transform: rotate(189deg); }
.yr-wind-from-direction-190:before { transform: rotate(190deg); }
.yr-wind-from-direction-191:before { transform: rotate(191deg); }
.yr-wind-from-direction-192:before { transform: rotate(192deg); }
.yr-wind-from-direction-193:before { transform: rotate(193deg); }
.yr-wind-from-direction-194:before { transform: rotate(194deg); }
.yr-wind-from-direction-195:before { transform: rotate(195deg); }
.yr-wind-from-direction-196:before { transform: rotate(196deg); }
.yr-wind-from-direction-197:before { transform: rotate(197deg); }
.yr-wind-from-direction-198:before { transform: rotate(198deg); }
.yr-wind-from-direction-199:before { transform: rotate(199deg); }
.yr-wind-from-direction-200:before { transform: rotate(200deg); }
.yr-wind-from-direction-201:before { transform: rotate(201deg); }
.yr-wind-from-direction-202:before { transform: rotate(202deg); }
.yr-wind-from-direction-203:before { transform: rotate(203deg); }
.yr-wind-from-direction-204:before { transform: rotate(204deg); }
.yr-wind-from-direction-205:before { transform: rotate(205deg); }
.yr-wind-from-direction-206:before { transform: rotate(206deg); }
.yr-wind-from-direction-207:before { transform: rotate(207deg); }
.yr-wind-from-direction-208:before { transform: rotate(208deg); }
.yr-wind-from-direction-209:before { transform: rotate(209deg); }
.yr-wind-from-direction-210:before { transform: rotate(210deg); }
.yr-wind-from-direction-211:before { transform: rotate(211deg); }
.yr-wind-from-direction-212:before { transform: rotate(212deg); }
.yr-wind-from-direction-213:before { transform: rotate(213deg); }
.yr-wind-from-direction-214:before { transform: rotate(214deg); }
.yr-wind-from-direction-215:before { transform: rotate(215deg); }
.yr-wind-from-direction-216:before { transform: rotate(216deg); }
.yr-wind-from-direction-217:before { transform: rotate(217deg); }
.yr-wind-from-direction-218:before { transform: rotate(218deg); }
.yr-wind-from-direction-219:before { transform: rotate(219deg); }
.yr-wind-from-direction-220:before { transform: rotate(220deg); }
.yr-wind-from-direction-221:before { transform: rotate(221deg); }
.yr-wind-from-direction-222:before { transform: rotate(222deg); }
.yr-wind-from-direction-223:before { transform: rotate(223deg); }
.yr-wind-from-direction-224:before { transform: rotate(224deg); }
.yr-wind-from-direction-225:before { transform: rotate(225deg); }
.yr-wind-from-direction-226:before { transform: rotate(226deg); }
.yr-wind-from-direction-227:before { transform: rotate(227deg); }
.yr-wind-from-direction-228:before { transform: rotate(228deg); }
.yr-wind-from-direction-229:before { transform: rotate(229deg); }
.yr-wind-from-direction-230:before { transform: rotate(230deg); }
.yr-wind-from-direction-231:before { transform: rotate(231deg); }
.yr-wind-from-direction-232:before { transform: rotate(232deg); }
.yr-wind-from-direction-233:before { transform: rotate(233deg); }
.yr-wind-from-direction-234:before { transform: rotate(234deg); }
.yr-wind-from-direction-235:before { transform: rotate(235deg); }
.yr-wind-from-direction-236:before { transform: rotate(236deg); }
.yr-wind-from-direction-237:before { transform: rotate(237deg); }
.yr-wind-from-direction-238:before { transform: rotate(238deg); }
.yr-wind-from-direction-239:before { transform: rotate(239deg); }
.yr-wind-from-direction-240:before { transform: rotate(240deg); }
.yr-wind-from-direction-241:before { transform: rotate(241deg); }
.yr-wind-from-direction-242:before { transform: rotate(242deg); }
.yr-wind-from-direction-243:before { transform: rotate(243deg); }
.yr-wind-from-direction-244:before { transform: rotate(244deg); }
.yr-wind-from-direction-245:before { transform: rotate(245deg); }
.yr-wind-from-direction-246:before { transform: rotate(246deg); }
.yr-wind-from-direction-247:before { transform: rotate(247deg); }
.yr-wind-from-direction-248:before { transform: rotate(248deg); }
.yr-wind-from-direction-249:before { transform: rotate(249deg); }
.yr-wind-from-direction-250:before { transform: rotate(250deg); }
.yr-wind-from-direction-251:before { transform: rotate(251deg); }
.yr-wind-from-direction-252:before { transform: rotate(252deg); }
.yr-wind-from-direction-253:before { transform: rotate(253deg); }
.yr-wind-from-direction-254:before { transform: rotate(254deg); }
.yr-wind-from-direction-255:before { transform: rotate(255deg); }
.yr-wind-from-direction-256:before { transform: rotate(256deg); }
.yr-wind-from-direction-257:before { transform: rotate(257deg); }
.yr-wind-from-direction-258:before { transform: rotate(258deg); }
.yr-wind-from-direction-259:before { transform: rotate(259deg); }
.yr-wind-from-direction-260:before { transform: rotate(260deg); }
.yr-wind-from-direction-261:before { transform: rotate(261deg); }
.yr-wind-from-direction-262:before { transform: rotate(262deg); }
.yr-wind-from-direction-263:before { transform: rotate(263deg); }
.yr-wind-from-direction-264:before { transform: rotate(264deg); }
.yr-wind-from-direction-265:before { transform: rotate(265deg); }
.yr-wind-from-direction-266:before { transform: rotate(266deg); }
.yr-wind-from-direction-267:before { transform: rotate(267deg); }
.yr-wind-from-direction-268:before { transform: rotate(268deg); }
.yr-wind-from-direction-269:before { transform: rotate(269deg); }
.yr-wind-from-direction-270:before { transform: rotate(270deg); }
.yr-wind-from-direction-271:before { transform: rotate(271deg); }
.yr-wind-from-direction-272:before { transform: rotate(272deg); }
.yr-wind-from-direction-273:before { transform: rotate(273deg); }
.yr-wind-from-direction-274:before { transform: rotate(274deg); }
.yr-wind-from-direction-275:before { transform: rotate(275deg); }
.yr-wind-from-direction-276:before { transform: rotate(276deg); }
.yr-wind-from-direction-277:before { transform: rotate(277deg); }
.yr-wind-from-direction-278:before { transform: rotate(278deg); }
.yr-wind-from-direction-279:before { transform: rotate(279deg); }
.yr-wind-from-direction-280:before { transform: rotate(280deg); }
.yr-wind-from-direction-281:before { transform: rotate(281deg); }
.yr-wind-from-direction-282:before { transform: rotate(282deg); }
.yr-wind-from-direction-283:before { transform: rotate(283deg); }
.yr-wind-from-direction-284:before { transform: rotate(284deg); }
.yr-wind-from-direction-285:before { transform: rotate(285deg); }
.yr-wind-from-direction-286:before { transform: rotate(286deg); }
.yr-wind-from-direction-287:before { transform: rotate(287deg); }
.yr-wind-from-direction-288:before { transform: rotate(288deg); }
.yr-wind-from-direction-289:before { transform: rotate(289deg); }
.yr-wind-from-direction-290:before { transform: rotate(290deg); }
.yr-wind-from-direction-291:before { transform: rotate(291deg); }
.yr-wind-from-direction-292:before { transform: rotate(292deg); }
.yr-wind-from-direction-293:before { transform: rotate(293deg); }
.yr-wind-from-direction-294:before { transform: rotate(294deg); }
.yr-wind-from-direction-295:before { transform: rotate(295deg); }
.yr-wind-from-direction-296:before { transform: rotate(296deg); }
.yr-wind-from-direction-297:before { transform: rotate(297deg); }
.yr-wind-from-direction-298:before { transform: rotate(298deg); }
.yr-wind-from-direction-299:before { transform: rotate(299deg); }
.yr-wind-from-direction-300:before { transform: rotate(300deg); }
.yr-wind-from-direction-301:before { transform: rotate(301deg); }
.yr-wind-from-direction-302:before { transform: rotate(302deg); }
.yr-wind-from-direction-303:before { transform: rotate(303deg); }
.yr-wind-from-direction-304:before { transform: rotate(304deg); }
.yr-wind-from-direction-305:before { transform: rotate(305deg); }
.yr-wind-from-direction-306:before { transform: rotate(306deg); }
.yr-wind-from-direction-307:before { transform: rotate(307deg); }
.yr-wind-from-direction-308:before { transform: rotate(308deg); }
.yr-wind-from-direction-309:before { transform: rotate(309deg); }
.yr-wind-from-direction-310:before { transform: rotate(310deg); }
.yr-wind-from-direction-311:before { transform: rotate(311deg); }
.yr-wind-from-direction-312:before { transform: rotate(312deg); }
.yr-wind-from-direction-313:before { transform: rotate(313deg); }
.yr-wind-from-direction-314:before { transform: rotate(314deg); }
.yr-wind-from-direction-315:before { transform: rotate(315deg); }
.yr-wind-from-direction-316:before { transform: rotate(316deg); }
.yr-wind-from-direction-317:before { transform: rotate(317deg); }
.yr-wind-from-direction-318:before { transform: rotate(318deg); }
.yr-wind-from-direction-319:before { transform: rotate(319deg); }
.yr-wind-from-direction-320:before { transform: rotate(320deg); }
.yr-wind-from-direction-321:before { transform: rotate(321deg); }
.yr-wind-from-direction-322:before { transform: rotate(322deg); }
.yr-wind-from-direction-323:before { transform: rotate(323deg); }
.yr-wind-from-direction-324:before { transform: rotate(324deg); }
.yr-wind-from-direction-325:before { transform: rotate(325deg); }
.yr-wind-from-direction-326:before { transform: rotate(326deg); }
.yr-wind-from-direction-327:before { transform: rotate(327deg); }
.yr-wind-from-direction-328:before { transform: rotate(328deg); }
.yr-wind-from-direction-329:before { transform: rotate(329deg); }
.yr-wind-from-direction-330:before { transform: rotate(330deg); }
.yr-wind-from-direction-331:before { transform: rotate(331deg); }
.yr-wind-from-direction-332:before { transform: rotate(332deg); }
.yr-wind-from-direction-333:before { transform: rotate(333deg); }
.yr-wind-from-direction-334:before { transform: rotate(334deg); }
.yr-wind-from-direction-335:before { transform: rotate(335deg); }
.yr-wind-from-direction-336:before { transform: rotate(336deg); }
.yr-wind-from-direction-337:before { transform: rotate(337deg); }
.yr-wind-from-direction-338:before { transform: rotate(338deg); }
.yr-wind-from-direction-339:before { transform: rotate(339deg); }
.yr-wind-from-direction-340:before { transform: rotate(340deg); }
.yr-wind-from-direction-341:before { transform: rotate(341deg); }
.yr-wind-from-direction-342:before { transform: rotate(342deg); }
.yr-wind-from-direction-343:before { transform: rotate(343deg); }
.yr-wind-from-direction-344:before { transform: rotate(344deg); }
.yr-wind-from-direction-345:before { transform: rotate(345deg); }
.yr-wind-from-direction-346:before { transform: rotate(346deg); }
.yr-wind-from-direction-347:before { transform: rotate(347deg); }
.yr-wind-from-direction-348:before { transform: rotate(348deg); }
.yr-wind-from-direction-349:before { transform: rotate(349deg); }
.yr-wind-from-direction-350:before { transform: rotate(350deg); }
.yr-wind-from-direction-351:before { transform: rotate(351deg); }
.yr-wind-from-direction-352:before { transform: rotate(352deg); }
.yr-wind-from-direction-353:before { transform: rotate(353deg); }
.yr-wind-from-direction-354:before { transform: rotate(354deg); }
.yr-wind-from-direction-355:before { transform: rotate(355deg); }
.yr-wind-from-direction-356:before { transform: rotate(356deg); }
.yr-wind-from-direction-357:before { transform: rotate(357deg); }
.yr-wind-from-direction-358:before { transform: rotate(358deg); }
.yr-wind-from-direction-359:before { transform: rotate(359deg); }
