
.icon-yr-beauf-0:before { content: '\e800'; } /* '' */
.icon-yr-beauf-1:before { content: '\e801'; } /* '' */
.icon-yr-beauf-2:before { content: '\e802'; } /* '' */
.icon-yr-beauf-3:before { content: '\e803'; } /* '' */
.icon-yr-beauf-4:before { content: '\e804'; } /* '' */
.icon-yr-beauf-5:before { content: '\e805'; } /* '' */
.icon-yr-beauf-6:before { content: '\e806'; } /* '' */
.icon-yr-beauf-7:before { content: '\e807'; } /* '' */
.icon-yr-beauf-8:before { content: '\e808'; } /* '' */
.icon-yr-beauf-9:before { content: '\e809'; } /* '' */
.icon-yr-beauf-10:before { content: '\e80a'; } /* '' */
.icon-yr-beauf-11:before { content: '\e80b'; } /* '' */
.icon-yr-beauf-12:before { content: '\e80c'; } /* '' */